<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/attempt-quiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quizzes-list-layout.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/view-switching.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script type="text/javascript" src="/scripts/createQuiz.js"></script>
  <script type="text/javascript" src="/scripts/attemptQuiz.js"></script>
  <script type="text/javascript" src="/scripts/list-quizzes.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-container">
        <a class="navlink" data="list-quizzes" href="/">
          <!--Where logo file is located. Ideally use this local asset as opposed to fetching url
        <img src="../public/assets/2x1 HD LOGO.png">
          -->
          <img src="https://i.imgur.com/w7MaX4f.png">
        </a>
    <nav>
      <ul>
        <li><a id="nav_my-quizzes" class="navlink" data="my-quizzes" href="#">My Quizzes</a></li>
        <li><a id="nav_create-quiz" class="navlink" data="create-quiz"  href="#">Create Quiz</a></li>
        <li><a id="nav_login" class="navlink" data="login" href="#">Sign In</a></li>
      </ul>
    </nav>
    </div>
  </div>

  <section class="container" id="login">
    <article id="login-container">
        <form id="login-inputs">
          <input id="login_user" type="text" name="user" placeholder="Username" aria-label="Username">
          <input type="password" name="password" placeholder="Password" aria-label="Password">
          <fieldset>
            <label for="remember">
              <input type="checkbox" id="remember">
              Remember me
            </label>
          </fieldset>
          <button id="login_submit" type="submit" class="contrast" onclick="event.preventDefault()">Log in</button>
        </form>
        <div>
          <article id="static-example">
            <div id="question-content">
              Who scored the winning touchdown of Superbowl 51?
            </div>
            <div id="options-container">
              <button id="each-option">
                James White
              </button>
              <button id="each-option">
                Danny Amendola
              </button>
              <button id="each-option">
                Julian Edelman
              </button>
              <button id="each-option">
                Sony Michel
              </button>
            </div>
          </article>
        </div>
    </article>
  </section>


 <section id="my-quizzes">
   
 </section>


  <section id="list-quizzes">

  </section>

  <section id="create-quiz">
    <form id="quiz-creator">
        <textarea class="container" id="new-quiz-title" name="title" placeholder="Give your quiz a catchy title" required=""></textarea>
        <div class="questions-container">
          <article id="question-option-container">
           <textarea id="new-quiz-question" name="question" placeholder="Enter your question" required=""></textarea>
           <div id="options-parent">
             <div id="options-target">
             <div class="modular-option-node">
           <textarea id="new-option" name="option" placeholder="Enter a possible answer"></textarea>
           <fieldset>
             <input type="checkbox" id="correct" name="correct">
             <span>Correct?</span>
          </div>
        </div>
          <button class="nother-option">+ Add an answer</button>
          </div>
           <div class="button-flex">
           <button class="save-button">+ Add next question</button>
           </div>
          </article>
        </div>
          <button class="submit-quiz-object">Save and publish quiz</button>
    </form>
  </section>


  <section id="attempt-quiz" class="container">
  </section>

  <!-- Server will render javascript to define attemptQuizId if user has visited the /attempt/quiz/:id route -->
  <% if (typeof attemptQuizId === 'number') { %>
    <script>
    const attemptQuizId = <%- attemptQuizId; %>
    </script>
  <% } %>

</body>

</html>

