<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quizzes_list_layout.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/list-quizzes.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-container">
        <a href="/">
          <!--Where logo file is located. Ideally use this local asset as opposed to fetching url
        <img src="../public/assets/2x1 HD LOGO.png">
          -->
          <img src="https://i.imgur.com/w7MaX4f.png">
        </a>
    <nav>
      <ul>
        <li><a href="#">My Quizzes</a></li>
        <li><a href="#">Create Quiz</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </nav>
    </div>
  </div>

  <section class="container" id="login">
    <article class="grid">
      <div>
        <form>
          <input type="text" name="user" placeholder="Username" aria-label="Username">
          <input type="password" name="password" placeholder="Password" aria-label="Password">
          <fieldset>
            <label for="remember">
              <input type="checkbox" id="remember">
              Remember me
            </label>
          </fieldset>
          <button type="submit" class="contrast" onclick="event.preventDefault()">Log in</button>
        </form>
      </div>
      <div></div>
    </article>
  </section>

  <section id="my-quizzes"> </section>

  <section id="list-quizzes">
    <div class="column-one">
      <div id="add-quiz">
        <div>
          <h1>Create Quiz!</h1>
        </div>
        <div>
          <i class="fa fa-plus-square-o" id="plus-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div id="quiz-2">
        <h1>Quiz 2</h1>
      </div>
    </div>
    <div class="column-two">
      <div id="quiz-1">
        <i class="fa-duotone fa-gun-squirt"></i>
        <h1>Quiz 1</h1>
      </div>
      <div id="quiz-3">
        <h1>Quiz 3</h1>
      </div>
    </div>
  </section>

  <section class="container" id="create-quiz">

  </section>

  <section id="attempt-quiz">

  </section>
</body>

</html>


