<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-container">
        <a href="/">
          <!--Where logo file is located. Ideally use this local asset as opposed to fetching url
        <img src="../public/assets/2x1 HD LOGO.png">
          -->
          <img src="https://i.imgur.com/w7MaX4f.png">
        </a>
    <nav>
      <ul>
        <li><a href="#">My Quizzes</a></li>
        <li><a href="#">Create Quiz</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </nav>
    </div>
  </div>
<!--
  <main class="container">
    <article class="grid">
      <div>
        <form>
          <input type="text" name="user" placeholder="Username" aria-label="Username">
          <input type="password" name="password" placeholder="Password" aria-label="Password">
          <fieldset>
            <label for="remember">
              <input type="checkbox" id="remember">
              Remember me
            </label>
          </fieldset>
          <button type="submit" class="contrast" onclick="event.preventDefault()">Log in</button>
        </form>
      </div>
      <div></div>
    </article>
  </main>
-->
</body>

</html>

