@mixin longformInput {
  font-family: 'Righteous', cursive;
  border: none;
  border-bottom:3px solid #ae4536;
  color: #ae4536;
  overflow-wrap: break-word;
}

#new-quiz-title {
  @include longformInput();
  font-family: 'Righteous', cursive;
  font-size: 50px;
  width: 50%;
  height: 4em; 
}

#new-quiz-question {
  font-size: 30px;
  @include longformInput();
}