#new-quiz-title {
  font-family: 'Righteous', cursive;
  font-size: 50px;
  width: 50%;
  height: 4em;
  border: none;
  border-bottom:3px solid #ae4536;
  color: #ae4536;
  overflow-wrap: break-word;
}