#create-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin longformInput {
  font-family: 'Righteous', cursive;
  border: none;
  border-bottom:3px solid #ae4536;
  color: #ae4536;
  overflow-wrap: break-word;
}

form {
  width: 60%;
}

#new-quiz-title {
  @include longformInput();
  font-family: 'Righteous', cursive;
  font-size: 50px;
  height: 4em; 
}

#new-quiz-question {
  font-size: 30px;
  @include longformInput();
}

#new-option {
  background-color: #780b00;
  @include longformInput();
  color: white;
  margin-bottom: 0.5em;
}

.modular-option-node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

#correct {
  margin-left: 1em;
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#question-option-container {
  padding-top: 2em;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.save-button {
  width: 28%;
  padding: 8px 5px;
}

.button-flex {
  display: flex;
  justify-content: flex-end;
}

.nother-option {
  background-color: #b89d9a;
  border-style: dashed;
  border-width: medium;
  border-color: #ae4536;
  margin-bottom: 2em;
}

.submit-quiz-object {
  margin-top: 5em;
}