@import "https://unpkg.com/open-props/animations.min.css";

#login-container {
  margin-top: 4.5em;
  padding-top: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/tZnT8TW.png");
  background-size: 800px;
}

#login-inputs {
  width: 45%;
  background-color: white;
}

#static-example {
  margin: 0px;
  margin-left: 2em;
}
